*.ini
*/build/*
*/.gradle/*
build/
*.jpg
*.png
*.skin
*/bin/*
*/out/*
*.class
*.bak
*.xml
*.iml
*.json
skin_config_preview.txt
themepackage/skins/
toolSource/ThemeChecker/bin/
toolSource/ThemeChecker/out/
toolSource/ThemeChecker/.idea/
toolSource/ThemeToolReadConfig/.idea/
toolSource/ThemeToolReadConfig/out/
toolSource/ThemeToolReadConfig/bin/
